<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halgo.municipalpfe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetPassword"></activity>
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".InscriptionActivity"></activity>
        <activity android:name=".NotificationsActivity"></activity>
        <activity android:name=".OffresActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".PropertiesActivity"></activity>
        <activity android:name=".NewPassword"></activity>
        <activity android:name=".SendCode"></activity>
        <activity android:name=".DetailsOffreActivity"></activity>
        <activity android:name=".NewOffre"></activity>
        <activity android:name=".Clients"></activity>
        <activity android:name=".Payements"></activity>
        <activity android:name=".Contrats"></activity>
        <activity android:name=".PropertiesClientActivity"></activity>
        <activity android:name=".DetailsClientActivity"></activity>
        <activity android:name=".NewClient"></activity>
        <activity android:name=".DetailsPropertieActivity"></activity>
        <activity android:name=".DetailsContratActivity"></activity>
        <activity android:name=".NewPropertie"></activity>
        <activity android:name=".NewContrat"></activity>
        <activity android:name=".DetailsPayementActivity"></activity>
        <activity android:name=".PayementClientActivity"></activity>
    </application>

</manifest>